<h2>Ajout d'une catégory</h2>
<form action="{{ path('hetic_category_create') }}" method="post" id="addcategory">
    <div class="errors">{{ form_errors(form) }}</div>
    {{ form_widget(form) }}
    <button class="btn" type="submit">Enregistrer la category</button>
</form>
