<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="Horus CMF is a modern ecommerce solution for PHP, easily customizable and based on the Symfony2 framework."/>
        <meta name="keywords" content="Horus, ecommerce, symfony2, webshop, php, shop"/>
        <meta name="author" content="Symfomany">
        <title>{% block title %}Horus CMF Shop{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('egypt-icon.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
