{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="page" id="categories">
        <h2><i class="glyphicon glyphicon-gift"></i> Vos catégories</h2>
        {% include 'HorusSiteBundle:Category:_listcategories.html.twig' %}
        <div class="clear"></div>
        </div>
    </div>
{% endblock %}

