{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="page" id="categories">
        <h2><i class="glyphicon glyphicon-th-large"></i> Vos catégories({{ categories|length }})</h2>
        {% include 'HorusSiteBundle:Slots:display.html.twig' %}

        {% include 'HorusSiteBundle:Category:_listcategories.html.twig' %}
        <div class="clear"></div>
        <div class="action">
            <a href="{{ path('horus_site_add_category') }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Ajouter une catégorie</a>
        </div>
    </div>
{% endblock %}

