{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="page" id="familles">
        <h2><i class="glyphicon glyphicon-th"></i> Vos familles({{ familles|length }})</h2>
        {% include 'HorusSiteBundle:Slots:display.html.twig' %}
        {% include 'HorusSiteBundle:Category:_listfamilles.html.twig' %}

        {#<ul class="pagination pull-right">#}
        {#<li class="disabled"><a href="#"><i class="glyphicon glyphicon-chevron-left"></i></a></li>#}
        {#<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>#}
        {#<li class=""><a href="#">2 <span class="sr-only">(current)</span></a></li>#}
        {#<li class=""><a href="#">3 <span class="sr-only">(current)</span></a></li>#}
        {#<li class="disabled"><a href="#"><i class="glyphicon glyphicon-chevron-right"></i></a></li>#}
        {#</ul>#}
        <div class="clear"></div>
        <div class="action">
            <a href="{{ path('horus_site_add_famille') }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Ajouter une famille</a>
        </div>
    </div>
{% endblock %}

