{% block states %}
    <div class="btn-group pull-left">
        <button type="button" class="btn btn-sm btn-default annule">3 annulées</button>
        <button type="button" class="btn btn-sm btn-default attente">2 réaprovisionement</button>
        <button type="button" class="btn btn-sm btn-default virrement">1 virrement</button>
        <button type="button" class="btn btn-sm btn-default livraison">1 livraison</button>
        <button type="button" class="btn btn-sm btn-default erreur">1 erreur de paiement</button>
        <button type="button" class="btn btn-sm btn-default livre">1 livré</button>
        <button type="button" class="btn btn-sm btn-default paiement">1 paiement accepté</button>
        <button type="button" class="btn btn-sm btn-default preparation">1 préparation en cours</button>
    </div>
    <div class="clear"></div>
{% endblock %}

