{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1><i class="glyphicon glyphicon-euro"></i> Factures</h1>
    {% include 'HorusSiteBundle:Slots:display.html.twig' %}

{% endblock %}

