{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1><i class="glyphicon glyphicon-shopping-cart"></i> Panier</h1>
{% endblock %}

