{% block states %}
    <div class="btn-group pull-left">
        <button type="button" class="btn btn-sm btn-default btn-success">3 publiés</button>
        <button type="button" class="btn btn-sm btn-default btn-info">2 en cours</button>
        <button type="button" class="btn btn-sm btn-default btn-inverse">1 brouillon</button>
    </div>
    <div class="clear"></div>
{% endblock %}

