{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block content %}

    <div class="page" id="articles">
        <h2><i class="glyphicon glyphicon-tags"></i> Vos articles({{ articles.getTotalItemCount }})</h2>
        {% include 'HorusSiteBundle:Slots:display.html.twig' %}
        <div class="well">
            <h3>Filtrer par</h3>
            {% include 'HorusSiteBundle:CMS:_states.html.twig' %}
        </div>
        {% include 'HorusSiteBundle:CMS:_listarticles.html.twig' %}

        <div class="pull-right">
            {{ knp_pagination_render(articles) }}
        </div>

        <div class="clear"></div>
        <div class="action">
            <a href="{{ path('horus_site_article_create') }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Ajouter un article</a>
        </div>
    </div>
{% endblock %}

