<span class="hide" id="session_id" data-content="{{ app.user.id }}"></span>
<span class="hide" id="session_firstname" data-content="{{ app.user.firstname|title }}"></span>
<span class="hide" id="session_lastname" data-content="{{ app.user.lastname|title }}"></span>

{% if app.session.flashbag.get('firstconnect') is defined and  app.session.flashbag.get('firstconnect') is not empty %}
    <script type="text/javascript">
        $(document).ready(function () {
            var socket = io.connect('http://www.horus.ju:1665');
            // on the client
            socket.emit('logged', {
                id: $('#session_id').attr('data-content'),
                firstname: $('#session_firstname').attr('data-content'),
                lastname: $('#session_lastname').attr('data-content')
            });
        });
    </script>
{% endif %}


{% for flashMessage in app.session.flashbag.get('messagerealtime') %}
    <script type="text/javascript">
        $(document).ready(function () {
            var socket = io.connect('http://www.horus.ju:1665');
            socket.emit('alerting', {
                id: $('#session_id').attr('data-content'),
                firstname: $('#session_firstname').attr('data-content'),
                lastname: $('#session_lastname').attr('data-content'),
                message: "{{ flashMessage }}"
            });
        });
    </script>
 {% endfor %}

