{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block content %}

    <div class="page" id="commentaires">
        <h2><i class="glyphicon glyphicon-comment"></i> Vos commentaires</h2>
        {% include 'HorusSiteBundle:Slots:display.html.twig' %}
        {% include 'HorusSiteBundle:Commentaires:_listcommentaires.html.twig' %}

    </div>

{% endblock %}

