{% extends 'HorusSiteBundle::layout.html.twig' %}

{% block content %}

    <div class="page" id="products">
        <h2><i class="glyphicon glyphicon-gift"></i> Vos produits </h2>
        <h3 class="pull-right">
            <span class="label-danger label pull-right"><i
                        class="glyphicon glyphicon-shopping-cart"></i> {{ produits.getTotalItemCount }} produits</span>
        </h3>
        <hr class="clear fancy-line">

        {% include 'HorusSiteBundle:Product:_listproducts.html.twig' %}

        <div class="pull-right">
            {{ knp_pagination_render(produits) }}
        </div>

        <a href="{{ path('horus_site_create_product') }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Ajouter une produit</a>

        <div class="clear"></div>
    </div>
{% endblock %}

